@model IEnumerable<NetworkVisualizer.Models.Packet>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationHostname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginHostname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacketType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationHostname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginHostname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
