@model IEnumerable<NetworkVisualizer.Models.Packet>

@{
    ViewData["Title"] = "Packets";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Packets</h2>

<br />
@{
    DateTime lastTime = DateTime.Now.Subtract(TimeSpan.FromDays(2));
    foreach (var item in Model)
    {
        if (item.DateTime.Minute != lastTime.Minute)
        {
            <h3>@item.DateTime</h3>
            <hr />
            lastTime = item.DateTime;
        }

        <p class="nospace">@item.Id - @item.PacketType - <a asp-action="PacketDelete" asp-route-id="@item.Id">Delete</a></p>
        <p class="nospace">@item.DestinationHostname - @item.OriginHostname</p>
        <br />
    }
}
